body {
    background-color: pink;
}

p {
    width: 100%;
}

header {
    background-color: powderblue;
    max-width: 95%;
    margin: 12px auto;
    padding: 12px;
    height: 60px;
}

.container {
    background-color: powderblue;
    max-width: 95%;
    margin: 12px auto;
    padding: 12px 12px 12px 12px;
}

.section {
    display: flex;
    flex-wrap:wrap;
    background-color:palegoldenrod;
    margin: 12px;
    padding: 12px;
}

.middle {
    flex-grow: 1;
    background-color: palegreen;
    padding: 12px;
    margin: 4px 8px;
}

footer {
    background-color: powderblue;
    max-width: 95%;
    margin: auto;
    padding: 12px;
    height: 60px;
}